* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Outfit";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Outfit";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #02061A;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  width: 490px;
  height: 494px;
  left: calc(50% - 295px - 528px);
  top: -245px;
  z-index: -1;
  background: rgba(84, 197, 173, 0.95);
  filter: blur(217px);
}
body::after {
  content: "";
  position: absolute;
  width: 390px;
  height: 394px;
  right: 0;
  top: 552px;
  z-index: -1;
  background: #52A7C6;
  filter: blur(217px);
}
@media (max-width: 47.99875rem) {
  body::after {
    width: 290px;
    height: 294px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 50px;
}
@media (max-width: 1080px) {
  .header {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 760));
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
}

.navigation__list {
  display: flex;
}
.navigation__list-item:not(:last-child) {
  margin-right: 70px;
}
@media (max-width: 768px) {
  .navigation__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.navigation__list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  transition: all ease 0.3s;
}
.navigation__list-link:hover {
  color: rgb(76, 153, 187);
}
@media (max-width: 768px) {
  .navigation__list-link {
    font-size: 30px;
  }
}

.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .burger .line, .burger::before, .burger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .burger::before, .burger::after {
    content: "";
  }
  .burger::before {
    top: 45%;
  }
  .burger .line {
    top: 7px;
  }
  .burger::after {
    bottom: 7px;
  }
  .burger.active span {
    display: none;
  }
  .burger.active::before {
    height: 5%;
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
    background: #ffffff;
  }
  .burger.active::after {
    height: 5%;
    bottom: 50%;
    transform: rotate(-45deg) translate(0, 50%);
    background: #ffffff;
  }
  .burger.active .line {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(76, 153, 187);
    transition: all 0.5s ease;
    z-index: 5;
  }
  .navigation__list.active {
    opacity: 1;
    left: 0;
  }
}
.section__hero {
  padding-top: 80px;
}
@media (max-width: 1080px) {
  .section__hero {
    padding-top: calc(60px + 20 * ((100vw - 320px) / 760));
  }
}

.hero__main {
  flex: 0 1 32.5rem;
}
@media (max-width: 47.99875rem) {
  .hero__main {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .hero__title {
    font-size: calc(25px + 35 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .hero__title {
    line-height: calc(34px + 42 * ((100vw - 320px) / 760));
  }
}
.hero__btns {
  margin-top: 30px;
  display: flex;
  gap: 22px;
}
@media (max-width: 61.99875rem) {
  .hero__btns {
    margin-top: 15px;
  }
}
@media (max-width: 29.68625rem) {
  .hero__btns {
    gap: 5px;
  }
}
.hero__logo {
  max-width: 100%;
  height: auto;
}

.container__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.99875rem) {
  .container__hero {
    flex-direction: column;
  }
}

.btn {
  padding: 25px 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 61.99875rem) {
  .btn {
    padding: 15px 25px;
    font-size: 18px;
    line-height: 24px;
  }
}
.btn__sell {
  background: #23263C;
  border-radius: 50px;
  transition: all ease 0.5s;
}
.btn__sell:hover {
  background: none;
  color: rgb(76, 153, 187);
}
.btn__buy {
  border: 1px solid #23263C;
  border-radius: 50px;
  transition: all ease 0.5s;
}
.btn__buy:hover {
  background: #23263C;
  color: rgb(76, 153, 187);
}

.section__featured {
  padding-top: 90px;
}
@media (max-width: 1080px) {
  .section__featured {
    padding-top: calc(60px + 30 * ((100vw - 320px) / 760));
  }
}

.featured__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
}
.featured__block {
  position: relative;
  padding: 46px 68px;
  background: #23263C;
  border: 1px solid #5BD2BD;
  margin-top: 8px;
}
@media (max-width: 580px) {
  .featured__block {
    padding: 26px 38px;
  }
}
.featured__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 47.99875rem) {
  .featured__list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }
}
@media (max-width: 580px) {
  .featured__list {
    display: grid;
    grid-template-columns: repeat(2, 80px);
  }
}
@media (max-width: 360px) {
  .featured__list {
    display: flex;
    flex-direction: column;
  }
}
.featured__list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.5;
}

.shadow__block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -5px;
  bottom: -5px;
  border: 1px solid #5BD2BD;
  z-index: -1;
}

.section__buy {
  padding-top: 90px;
}
@media (max-width: 1080px) {
  .section__buy {
    padding-top: calc(60px + 30 * ((100vw - 320px) / 760));
  }
}

.buy__image {
  flex: 0 1 465px;
}
@media (max-width: 47.99875rem) {
  .buy__image {
    flex: 0 1 auto;
    text-align: center;
  }
}
.buy__logo {
  width: 100%;
  height: auto;
}
.buy__info {
  flex: 0 1 540px;
}
@media (max-width: 47.99875rem) {
  .buy__info {
    flex: 0 1 auto;
    text-align: center;
  }
}
.buy__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}
@media (max-width: 1080px) {
  .buy__title {
    font-size: calc(32px + 28 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .buy__title {
    line-height: calc(38px + 35 * ((100vw - 320px) / 760));
  }
}
.buy__title span {
  color: rgb(86, 202, 177);
}
.buy__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #4C99BB;
}
@media (max-width: 1080px) {
  .buy__subtitle {
    font-size: calc(19px + 7 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .buy__subtitle {
    line-height: calc(28px + 3 * ((100vw - 320px) / 760));
  }
}
.buy__price1, .buy__price2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 1080px) {
  .buy__price1, .buy__price2 {
    font-size: calc(24px + 16 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .buy__price1, .buy__price2 {
    line-height: calc(35px + 15 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 47.99875rem) {
  .buy__price1, .buy__price2 {
    justify-content: center;
  }
}
.buy__price1 span, .buy__price2 span {
  text-decoration: line-through;
  text-decoration-color: rgb(86, 202, 177);
  text-decoration-thickness: 7px;
}
.buy__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: capitalize;
  padding: 13px 9px;
  border: 1px solid #56CAB1;
  border-radius: 16px;
  position: relative;
  transition: all ease 0.5s;
}
.buy__btn-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #56CAB1;
  border-radius: 16px;
  right: -5px;
  bottom: -5px;
  transition: all ease 0.5s;
}
.buy__btn:hover {
  background-color: #56CAB1;
  transform: translate(0px, 3px);
}
.buy__btn:hover .buy__btn-shadow {
  opacity: 0;
}

.container__buy {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 47.99875rem) {
  .container__buy {
    flex-direction: column-reverse;
  }
}

.nftInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 18px 28px;
  background: #3A5B6A;
  border-radius: 18px;
  margin-top: 34px;
}
@media (max-width: 61.99875rem) {
  .nftInfo {
    padding: 10px 20px;
  }
}
@media (max-width: 47.99875rem) {
  .nftInfo {
    justify-content: space-around;
  }
}
.nftInfo__plug {
  text-align: center;
}
.nftInfo__plug-title, .nftInfo__plug-info {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .nftInfo__plug-title, .nftInfo__plug-info {
    font-size: calc(18px + 12 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .nftInfo__plug-title, .nftInfo__plug-info {
    line-height: calc(26px + 12 * ((100vw - 320px) / 760));
  }
}

.section__view {
  padding-top: 250px;
}
@media (max-width: 61.99875rem) {
  .section__view {
    padding-top: 90px;
  }
}

.container__view {
  display: flex;
  gap: 219px;
  align-items: flex-end;
}
@media (max-width: 61.99875rem) {
  .container__view {
    flex-direction: column;
    gap: 50px;
  }
}

.view__info {
  flex: 0 1 460px;
}
@media (max-width: 61.99875rem) {
  .view__info {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.view__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .view__title {
    font-size: calc(46px + 14 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .view__title {
    line-height: calc(45px + 31 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 61.99875rem) {
  .view__title br {
    display: none;
  }
}
.view__btn {
  margin-top: 55px;
  padding: 14px 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #56CAB1;
  background: #1F143B;
  border: 3px solid rgba(84, 197, 173, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transition: all ease 0.5s;
}
.view__btn:hover {
  transform: translate(0px, 5px);
  background: #4C99BB;
  color: #ffffff;
}
@media (max-width: 61.99875rem) {
  .view__btn {
    margin-top: 25px;
  }
}
@media (max-width: 29.68625rem) {
  .view__btn {
    padding: 14px 30px;
    font-size: 30px;
    line-height: 48px;
  }
}
.view__cards {
  position: relative;
}
@media (max-width: 61.99875rem) {
  .view__cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
  }
}
@media (max-width: 47.99875rem) {
  .view__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.view__cards:before {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  left: -130px;
  top: -50px;
  background: #5BD2BF;
  filter: blur(100px);
  transform: rotate(-6.43deg);
  z-index: -2;
}
@media (max-width: 29.68625rem) {
  .view__cards:before {
    width: 250px;
    height: 250px;
  }
}
.view__card:first-child {
  position: absolute;
  transform: rotate(-25.34deg);
  z-index: -1;
  top: -90px;
  left: -265px;
}
@media (max-width: 61.99875rem) {
  .view__card:first-child {
    position: relative;
    transform: rotate(0);
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.card {
  border-radius: 10px;
}
@media (max-width: 47.99875rem) {
  .card {
    width: 380px;
  }
}
@media (max-width: 29.68625rem) {
  .card {
    width: 300px;
  }
}
.card__img {
  width: 100%;
  height: auto;
}
.card__info {
  background: rgba(137, 130, 130, 0.5);
  mix-blend-mode: screen;
  padding: 12px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}
.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #56CAB1;
  -webkit-text-stroke: 2px #02061A;
}
.card__number {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  margin-top: 5px;
  text-transform: uppercase;
}
.card__number span {
  color: rgb(35, 38, 60);
}
.card__btn {
  padding: 1px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #52A7C6;
  -webkit-text-stroke: 2px #02061A;
  background: #1F143B;
  border: 2px solid #000000;
  border-radius: 3px;
  position: relative;
}
.card__btn-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 3px;
  z-index: -1;
  top: -5px;
  right: -5px;
}

.section__response {
  padding-top: 200px;
}
@media (max-width: 1080px) {
  .section__response {
    padding-top: calc(90px + 110 * ((100vw - 320px) / 760));
  }
}

.response__titles {
  text-align: center;
}
.response__subtitle {
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  font-size: 30px;
  text-transform: uppercase;
  color: #5BD2BF;
}
@media (max-width: 1080px) {
  .response__subtitle {
    font-size: calc(26px + 4 * ((100vw - 320px) / 760));
  }
}
.response__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .response__title {
    font-size: calc(40px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .response__title {
    line-height: calc(58px + 18 * ((100vw - 320px) / 760));
  }
}
.response__cards {
  display: flex;
  text-align: center;
  gap: 14px;
  margin-top: 147px;
}
@media (max-width: 61.99875rem) {
  .response__cards {
    gap: 5px;
  }
}
@media (max-width: 47.99875rem) {
  .response__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
  }
}
@media (max-width: 29.68625rem) {
  .response__cards {
    margin-top: 95px;
  }
}
.response__card {
  background: #24293F;
  border-radius: 10px;
  padding: 75px 14px;
  padding-bottom: 45px;
  position: relative;
}
@media (max-width: 61.99875rem) {
  .response__card {
    padding: 75px 10px;
  }
}
@media (max-width: 47.99875rem) {
  .response__card {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
@media (max-width: 29.68625rem) {
  .response__card {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
.response__card::before {
  content: url("../img/123.svg");
  z-index: 5;
  top: -80px;
  left: 217px;
  position: absolute;
}
@media (max-width: 61.99875rem) {
  .response__card::before {
    display: none;
  }
}
.response__card::after {
  content: "";
  width: 33px;
  height: 34px;
  background: #56CAB1;
  position: absolute;
  border-radius: 50%;
  top: -71px;
  left: 210px;
}
@media (max-width: 61.99875rem) {
  .response__card::after {
    display: none;
  }
}
.response__img {
  mix-blend-mode: luminosity;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 50%);
}
.response__name {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .response__name {
    font-size: calc(16px + 19 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .response__name {
    line-height: calc(32px + 18 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 47.99875rem) {
  .response__name {
    font-size: 45px;
    line-height: 60px;
  }
}
@media (max-width: 47.99875rem) and (max-width: 1080px) {
  .response__name {
    font-size: calc(24px + 21 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 47.99875rem) and (max-width: 1080px) {
  .response__name {
    line-height: calc(32px + 28 * ((100vw - 320px) / 760));
  }
}
.response__text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .response__text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .response__text {
    line-height: calc(18px + 7 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 47.99875rem) {
  .response__text {
    font-size: 30px;
    line-height: 32px;
  }
}
@media (max-width: 47.99875rem) and (max-width: 1080px) {
  .response__text {
    font-size: calc(18px + 12 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 47.99875rem) and (max-width: 1080px) {
  .response__text {
    line-height: calc(18px + 14 * ((100vw - 320px) / 760));
  }
}

.section__last {
  padding-top: 200px;
}
@media (max-width: 1080px) {
  .section__last {
    padding-top: calc(90px + 110 * ((100vw - 320px) / 760));
  }
}

.last__block {
  padding-top: 24px;
  padding-bottom: 50px;
  width: 100%;
  background: linear-gradient(96.97deg, #1F143B -19.45%, #3C8273 103.56%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1080px) {
  .last__block {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 760));
  }
}
.last__block-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
@media (max-width: 1080px) {
  .last__block-title {
    font-size: calc(48px + 12 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .last__block-title {
    line-height: calc(52px + 8 * ((100vw - 320px) / 760));
  }
}
.last__block-btn {
  padding: 13px 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background: #000000;
  border-radius: 50px;
  margin-top: 40px;
  transition: all ease 0.5s;
}
@media (max-width: 29.68625rem) {
  .last__block-btn {
    padding: 13px 50px;
    font-size: 32px;
    line-height: 52px;
    margin-top: 25px;
  }
}
.last__block-btn:hover {
  background-color: #56CAB1;
  transform: translate(0px, 3px);
  box-shadow: 6px 6px 2px 1px #000000;
}

.section__footer {
  padding-top: 200px;
  padding-bottom: 80px;
}
@media (max-width: 1080px) {
  .section__footer {
    padding-top: calc(60px + 140 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .section__footer {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 760));
  }
}

@media (max-width: 47.99875rem) {
  .footer__logo {
    display: none;
  }
}
.footer__logo-item {
  transition: all ease 0.5s;
}
.footer__logo-item:hover {
  color: #5ac5b2;
}
.footer__list-item:not(:first-child) {
  margin-top: 19px;
}
.footer__list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
   line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  transition: all ease 0.5s;
}
@media (max-width: 1080px) {
  .footer__list-link {
    font-size: calc(14px + 6 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .footer__list-link {
     line-height: calc(18px + 7 * ((100vw - 320px) / 760));
  }
}
.footer__list-link:hover {
  color: #5ac5b2;
}

.container__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.join__input {
  position: relative;
}
.join__email {
  margin-top: 8px;
  background: #3B7C70;
  border-radius: 50px;
  padding: 17px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
}
.join__email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
}
.join__email:focus {
  outline: 1px solid rgba(84, 197, 173, 0.95);
}
.join__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 16px 19px;
  background: #262E48;
  border-radius: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  transition: all ease 0.5s;
}
.join__btn:hover {
  background-color: #56CAB1;
}